@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: lightgray;
}

header{
    background-color: gray;
}

header > menu{
    display: none;
}

header > menu > ul{
    list-style-type: none;
}

header > h1{
    padding: 10px;
    text-align: center;
}

span#burguer{
    background-color: rgb(101, 101, 101);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover{
    background-color: white;
    color: rgb(101, 101, 101);
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(101, 101, 101);
    color: white;
    text-align: center;
    border-top: 10px solid gray;
}

menu > ul > li > a:hover{
    background-color: gray;
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

main > article > h2{
    padding-bottom: 20px;
    
}

main > article > p{
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 20px;
}

