@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 150px;
    gap: 5px;
}

.caixa{
    background-color: rosybrown;
    border: 3px solid black;
}

header#topo{
    grid-area: 1 / 1 / 2 / -1;
}

nav#menu{
    grid-area: 2 / 1 / 3 / -1;
}

main#principal{
    grid-area: -3 / 1 / -2 / 2;
}

aside#secundario{
    grid-area: -3 / 2 / -2 / -1;
}

footer#rodape{
    grid-area: -2 / 1 / -1 / -1;
}