@charset "UTF-8";

div.container{
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 100px);
    gap: 10px;
}

div.caixa01{
    background-color: red;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}

div.caixa02{
    background-color: green;
    grid-row: 2 / 4;
    grid-column: 1 / 3;

}

div.caixa03{
    background-color: blue;
    grid-row: 2 / -1;
    grid-column: 3 / 5;
}