@charset "UTF-8";

div.container{
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 100px);
    gap: 10px;
}

div.caixa01{
    background-color: red;
    grid-area: 1 / 1 / span 1 / span 4; 
}

div.caixa02{
    background-color: green;
    grid-area: 2 / 1 / span 2 / span 2;

}

div.caixa03{
    background-color: blue;
    grid-area: 2 / 3 / span 2 / span 2;
}