@charset "UTF-8";

/* Configurações gerais */

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background: #233eff no-repeat fixed;
    background-size: contain;

    height: vh;
    width: vw;

}

h1{
    color: white;
    padding: 20px;
    text-shadow: 2px 2px 5px rgb(0, 0, 100);;
}